.cal-event {
  display: flex;
  min-height: 43px;
  width: 140px;
  border-radius: 5px;
  top: 0;
  left: 0;
  z-index: 2;
  color: #fff;
  flex-direction: column;
}


.resizer-height {
 height: 8px;
 margin: auto;
 position: relative;
 cursor: row-resize;
 flex-shrink: 0;
}
.resizer-height::after,
.resizer-height::before {
  content: "";
  border-top: 1px solid #333;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  bottom: 0;
  width: 20px;
  margin: 2px 0;
}
.resizer-height::before {
  top: 0;
}
.cal-event-tile {
  margin: 10px;
  line-height: 1.65;
}

.cal-event-tile p {
  display: inline;
}

.cal-event-body {
  height: calc(100% - 10px);
  display: inline;
}
